{% extends "layout.html" %}
{% block title %}Not Authorized{% endblock %}
{% block page %}Not Authorized{% endblock %}

{{ super() }}

{% block content %}
<div>
    <div class="row" style="margin-top: 10%;">
        <div class="col s12">
            <div class="card">
                <div class="card-content center-align">
                    <i class="material-icons large red-text">lock</i>
                    <h4>401 - Not Authorized</h4>
                <p>You do not have permission to access this resource. Please check your credentials and try again.</p>
                    <p class="red-text">{{error}}</p>
                </div>
                <div class="card-action center-align">
                    <a href="/" class="btn waves-effect waves-light purple">
                        <i class="material-icons left">home</i>Go Home
                    </a>
                    <a href="#login-modal" class="btn waves-effect waves-light green modal-trigger">
                        <i class="material-icons left">login</i>Login
                    </a>
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}