{% extends "layout.html" %}

{% block title %}Driver Signup{% endblock %}
{% block page %}Driver Signup{% endblock %}

{% block content %}
<div class="row">
  <div class="col s12 m8 offset-m2">
    <div class="card">
      <div class="card-content">
        <span class="card-title center-align">Driver Registration</span>
        <form method="POST" action="{{ url_for('auth_views.driver_signup') }}">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">person</i>
              <input id="full_name" name="full_name" type="text" class="validate" value="Jeremiah Renne" required>
              <label for="full_name">Full Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">credit_card</i>
              <input id="license_no" name="license_no" type="text" class="validate" value="123456DF" required>
              <label for="license_no">License Number</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="username" name="username" type="text" class="validate" value="Jerry" required>
              <label for="username">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">lock</i>
              <input id="password" name="password" type="password" class="validate" value="pass123" required>
              <label for="password">Password</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">lock_outline</i>
              <input id="confirm_password" name="confirm_password" type="password" class="validate" value="pass123" required>
              <label for="confirm_password">Confirm Password</label>
            </div>
          </div>
          <div class="row center-align">
            <button type="submit" class="btn waves-effect waves-light purple">
              <i class="material-icons left">how_to_reg</i>Register
            </button>
          </div>
        </form>
      </div>
      <div class="card-action center-align">
        Already have an account? <a href="#login-modal" class="modal-trigger">Login</a>
      </div>
    </div>
  </div>
</div>
{% endblock %} 